<h1>iScheme</h1>

{{#if session.isAuthenticated}}

<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'schemes'}}Schemes{{/link-to}}
  <a href="#" {{action 'invalidateSession'}}>Logout</ a>
</nav>


{{else}}

{{#link-to 'user.sign-up'}}Sign Up{{/link-to}}
{{#link-to 'user.login'}}Login{{/link-to}}

{{/if}}

{{outlet}}