<h1>Schemes</h1>
<ul>
  {{#each model as |scheme|}}
  {{scheme-listing detail=scheme}}
  <!-- {{#link-to 'scheme' scheme}}<li>{{scheme.name}} - {{scheme.payoutLimit}}</li>{{/link-to}} -->
  {{/each}}
</ul>

{{#link-to 'schemes.new'}}<button>New Scheme</button>{{/link-to}}
{{#link-to 'schemes.edit'}}<button>Edit Scheme</button>{{/link-to}}


{{outlet}}
